schemas/TAN-T.rnc

default namespace = "tag:textalign.net,2015:ns"
namespace local = "tag:textalign.net,2015:ns"

start = element TAN-T { TAN-root }
include "TAN-class-1.rnc" {
    TAN-body-core = lang-of-content, text-div+
}
text-div =
    element div {
        ed-stamp?,
        attribute type {
            xsd:string { pattern = "\w*" }
        },
        attribute n { n-val },
        lang-of-content?,
        (text-div+ | text)
    }
