schemas/TAN-A-div.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="tag:textalign.net,2015:ns" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:local="tag:textalign.net,2015:ns" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TAN-A-div">
      <a:documentation>specifies that the file is a div-based TAN alignment file. Root element.</a:documentation>
      <ref name="TAN-root"/>
    </element>
  </start>
  <include href="TAN-class-2.rng">
    <define name="source-list">
      <a:documentation>TAN-A-div files must have one or more sources</a:documentation>
      <oneOrMore>
        <ref name="source-item"/>
      </oneOrMore>
    </define>
    <define name="source-id-opt">
      <a:documentation>TAN-A-div sources must be named</a:documentation>
      <ref name="internal-id"/>
    </define>
    <define name="certainty-stamp">
      <a:documentation>no levels of certainty are allowed in TAN-A-div files; substitute is strength-claim</a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
    </define>
    <define name="char-ref">
      <a:documentation>TAN-A-div files may not point to individual characters/glyphs</a:documentation>
      <empty/>
    </define>
    <define name="TAN-body-core">
      <a:documentation>This statement also does away with groups in TAN-A-div files</a:documentation>
      <zeroOrMore>
        <ref name="work-equiv"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="div-type-equiv"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="split"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="realignment"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="alignment"/>
      </zeroOrMore>
    </define>
    <define name="alignment-attributes-non-class-2">
      <a:documentation>alignments may take either an id with no supplementary variables or else no id and optional variables indicating strength, exclusivity, distribution, and auto-alignment</a:documentation>
      <optional>
        <ref name="strength-claim"/>
      </optional>
      <optional>
        <choice>
          <ref name="distribute-claim"/>
          <ref name="topic-opt"/>
        </choice>
      </optional>
    </define>
    <define name="alignment-content-non-class-2">
      <a:documentation>alignments must contain either one or more div-refs or a list of references to other alignments</a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="div-ref-item-for-source"/>
          <ref name="div-ref-group-for-source"/>
          <ref name="div-ref-item-for-work"/>
          <ref name="div-ref-group-for-work"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="declaration-items">
      <interleave>
        <zeroOrMore>
          <ref name="decl-tok-def"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="decl-supp-div-type"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="decl-rename-div-n"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="decl-topics"/>
        </zeroOrMore>
      </interleave>
    </define>
    <define name="non-class-2-opt">
      <empty/>
    </define>
    <define name="cert-opt">
      <a:documentation>alignments suppres @cert in &lt;tok&gt; (used only to split leaf divs)</a:documentation>
      <empty/>
    </define>
  </include>
  <define name="decl-topics">
    <element name="topic">
      <a:documentation>declares one or more topics, to be used in conjunction with @topic under &lt;align&gt; to associate alignments with specific topics instead of verbatim parallels.  </a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <ref name="internal-id"/>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <ref name="entity-nondigital-ref"/>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <define name="topic-opt">
    <attribute name="topic">
      <a:documentation>points to one or more topics to which an alignment should be associated. If this attribute is not present, it is assumed that the alignment links different versions of roughly the same text.</a:documentation>
      <a:documentation>TAN does not stipluate what can be inferred via @topic. If ref A is aligned with B via topic x, and B with C via topic y, no guarantee is made as to what relationship A has to C. </a:documentation>
    </attribute>
  </define>
  <define name="work-equiv">
    <element name="equate-works">
      <a:documentation>declares an ad hoc equivalence between works that are not defined by the &lt;IRI&gt;s in their sources as being identical.</a:documentation>
      <a:documentation>This element extends the automatic equating of works, which is transitive and greedy. If work A is defined with &lt;IRI&gt; X, work B with &lt;IRI&gt;s X and Y, and work C with only &lt;IRI&gt; Y, then works A and C will be automatically equated.</a:documentation>
      <a:documentation>&lt;equate-works&gt; does not imply that the two works are, in reality, one and the same. It merely states that, for the purposes of this alignment, they should be treated as equivalent.</a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <ref name="work-refs"/>
      </choice>
    </element>
  </define>
  <define name="div-type-equiv">
    <element name="equate-div-types">
      <a:documentation>declares an ad hoc equivalence between div types that are not defined by the &lt;IRI&gt; values in their sources as being identical.</a:documentation>
      <a:documentation>&lt;equate-div-types&gt; are assumed to be greedy and transitive. If this element is used to equate div type X with type Y, then any div type in any source identical to X's or Y's IRI values will treated as identical. </a:documentation>
      <a:documentation>This element does not imply that the two types of division are, in reality, one and the same. It merely states that, for the purposes of this alignment, they should be treated as equivalent.</a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <ref name="div-type-ref-cluster"/>
          <oneOrMore>
            <ref name="div-type-ref-cluster"/>
          </oneOrMore>
        </group>
      </choice>
    </element>
  </define>
  <define name="div-type-ref-cluster">
    <element name="div-type-ref">
      <a:documentation>points to a &lt;div-type&gt; in one or more sources, using the @xml:id assigned by the source to that div type. </a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <ref name="source-refs"/>
      <ref name="div-type-ref"/>
    </element>
  </define>
  <define name="split">
    <element name="split-leaf-div-at">
      <a:documentation>creates ad hoc splits in leaf &lt;div&gt;s, to facilitate alignments and realignments of textual units smaller than leaf &lt;div&gt;s. Any leaf div may be split as many times as there are token, as defined by &lt;tokenization&gt;s.</a:documentation>
      <a:documentation>Each split creates a provisional segment, a textual subdivision of a leaf &lt;div&gt;.</a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <interleave>
          <zeroOrMore>
            <ref name="comment"/>
          </zeroOrMore>
          <oneOrMore>
            <ref name="tok-regular"/>
          </oneOrMore>
        </interleave>
      </choice>
    </element>
  </define>
  <define name="strength-claim">
    <attribute name="strength">
      <a:documentation>tempers the strength of an alignment. Suitable for alignments you would wish to differentiate, such as verbatim parallels from indirect references, this attribute does not imply doubt, uncertainty, or the reason for strengthening or weakening the alignment. If you need to specify exactly what concept of text reuse attaches to an alignment, you should use TAN-A-tok and &lt;tok&gt; with @reuse-type and @cert.</a:documentation>
      <a:documentation>This attribute takes an arbitrary rational decimal number from 0 to 1 indicating how strong the alignment should be. No specific meaning is to be assigned to this attribute. Interpretation of these values is processor-dependent.  </a:documentation>
      <a:documentation>This attribute is inheritable. See main.xml#inheritable_attributes</a:documentation>
      <data type="string">
        <param name="pattern">0\.\d+</param>
      </data>
    </attribute>
  </define>
  <define name="realignment">
    <element name="realign">
      <a:documentation>corrects misaligned or unaligned divisions and segments in versions of the same work. This element (1) exempts any divs or segments referred to in children &lt;div-ref&gt;s from their default alignments and (2) realigns them together as a group. Realignments have two types.</a:documentation>
      <a:documentation>An UNANCHORED realigment is useful for divisions that need to be removed from any automatic alignment. It consists solely of one or more &lt;div-ref&gt;s. The effect is (1) to sever each referenced &lt;div&gt; from any automatic alignment and (2) to realign all the &lt;div-ref&gt;s with each other. If only one source is invoked in a &lt;realign&gt;, only the first effect takes place: the references are effectively severed from any automatic alignment with any other version for that source. If @distribute is true, then every nth reference in every &lt;div-ref&gt; will be realigned to the nth reference in every other &lt;div-ref&gt;.  </a:documentation>
      <a:documentation>An ANCHORED realignment is useful for making sure a minority of misplaced &lt;div&gt;s align with the majority. It begins with a single &lt;anchor-div-ref&gt; as the first child of &lt;realign&gt;, then one or more &lt;div-ref&gt;s. The effect is (1) to sever each referenced &lt;div&gt; from any automatic alignment and (2) to realign all the &lt;div-ref&gt;s with the anchor.  If @distribute is true, then every nth reference in every &lt;div-ref&gt; will be realigned to the nth reference in the anchor.</a:documentation>
      <a:documentation>Unanchored &lt;realign&gt;s effectively sever every &lt;div-ref&gt; from any automatic alignment. Anchored ones do not sever automatic alignment; they merely shift that alignment process to the anchor. This method is helpful for synchronizing a few sources to the reference system followed by the majority of sources.</a:documentation>
      <a:documentation>Realignment is inherited, affecting not only the specified &lt;div&gt;s but their descendants too.</a:documentation>
      <a:documentation>Anomalous realignments will not be reconciled. For example, if passages A, B, and C are realigned to passages X and Y, there is no stipulation on how or if this realignment should be refined. </a:documentation>
      <a:documentation>Furthermore, one-to-one matches will entail an attempt to align the descendants. That is, if X is realigned to Y, then a TAN processor will attempt to realign every child in X with every child in Y, based on values of @n.</a:documentation>
      <a:documentation>Because of the distributive nature of the realignment, every value of @ref that involves a hyphen must have siblings with balanced depth on the left and right side of the hyphen (i.e., ref="1 - 2.1" would be invalid).</a:documentation>
      <a:documentation>This element is source-specific and not subject to any transitive properties. The assertions apply only to the specific sources that are cited.</a:documentation>
      <a:documentation>If @seg is used, every @ref must point to a leaf &lt;div&gt;, and @seg must point to a valid segment defined by &lt;split-leaf-div-at&gt;.</a:documentation>
      <a:documentation>For both anchored and unanchored alignments alike, the order of &lt;div-ref&gt;s is immaterial.</a:documentation>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <optional>
            <ref name="distribute-claim"/>
          </optional>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <group>
              <optional>
                <ref name="anchor-div-ref-item"/>
              </optional>
              <zeroOrMore>
                <choice>
                  <ref name="div-ref-item-for-source"/>
                  <ref name="div-ref-group-for-source"/>
                </choice>
              </zeroOrMore>
            </group>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <define name="distribute-claim">
    <attribute name="distribute">
      <a:documentation>indicates whether div refs should be treated as groups, or if they should be matched one-to-one. </a:documentation>
      <a:documentation>If @distribute is true, then every nth &lt;div&gt; referred to in every set (defined by a &lt;div-ref&gt; or a group of &lt;div-ref&gt;s joined by @cont) will be treated as a separate pairing/grouping. Therefore the number of references derived from @refs must be identical. (Sets must be isomorphic.)</a:documentation>
      <a:documentation>If this attribute is false, then each set of references in a single &lt;div-ref&gt; (or a group of &lt;div-ref&gt;s joined by @cont) will be aligned or realigned as a whole against every other group, without stipulating how alignments might be refined further.</a:documentation>
      <a:documentation>If @distribute is not present, then if sets are isomorphic, @distribute is assumed to be true, otherwise false.</a:documentation>
      <a:documentation>Take for example a case where the refs "1 - 3", "a - c", and "i - iii" are aligned. If @distribute is false, only one alignment set is created (presumably the triplets do not match well). But if @distribute is true, or if it is missing, then three sets are created: "1, a, i", "2, b, ii", and "3, c, iii".</a:documentation>
      <a:documentation>Ranges in @ref are resolved shallowly, e.g., ref="2 - 4 b" would be resolved something like ("2", "3", "4 a", "4 b"). Each of the four &lt;div&gt;s are termed (re)align heads. </a:documentation>
      <a:documentation>In this context, the term "distribute" is similar to "correspond." In mathematical terms, a true value for @distribute assumes that every set of (re)align heads has a bijective relationship to any other set. </a:documentation>
      <data type="boolean"/>
    </attribute>
  </define>
  <!-- <div-ref> and <anchor-div-ref> -->
  <define name="anchor-div-ref-item">
    <element name="anchor-div-ref">
      <a:documentation>refers to a group of one or more &lt;div&gt;s (or segments of &lt;div&gt;s) to which &lt;div&gt;s from other versions of the same work should be realigned (defined by the &lt;div-ref&gt;s that follow). The first child of a &lt;realign&gt;, it is constructed exactly like &lt;div-ref&gt;, except that only @src, not @work, is used. </a:documentation>
      <a:documentation>&lt;anchor-div-ref&gt; does not permit the comma in @ref in an undistributed realignment, since realignment must always be made to a contiguous range of text. </a:documentation>
      <a:documentation>If the parent &lt;realign&gt;'s @distribute is false, or missing, then each &lt;div-ref&gt; group will be realigned as a whole to the anchor, treated as a whole.</a:documentation>
      <a:documentation>If @distribute is true, then every nth realign head will serve as the anchor for the nth realign head in each subsequent &lt;div-ref&gt;s (grouped by source).</a:documentation>
      <a:documentation>For more, see &lt;div-ref&gt;.</a:documentation>
      <ref name="div-ref-attr-core"/>
      <ref name="source-ref"/>
    </element>
  </define>
  <define name="div-ref-item-for-work">
    <element name="div-ref">
      <ref name="div-ref-attr-core"/>
      <optional>
        <ref name="strength-claim"/>
      </optional>
      <ref name="work-ref"/>
    </element>
  </define>
  <define name="div-ref-group-for-work">
    <element name="div-ref">
      <a:documentation>refers to a group of one or more &lt;div&gt;s (or segments of &lt;div&gt;s). Its behavior is imitated by &lt;anchor-div-ref&gt;</a:documentation>
      <a:documentation>&lt;div-ref&gt;s are expanded against @src/@work, @ref, and @seg. That is, a &lt;div-ref&gt; points to every segment of every div of every source cited.</a:documentation>
      <a:documentation>A &lt;div-ref&gt;, or a group of &lt;div-ref&gt;s joined by @cont, are treated as many groups as sources referred to. That is, &lt;div-ref src="X Y" ... /&gt; will be treated as shorthand for &lt;div-ref src="X" ... /&gt; and &lt;div-ref src="Y" ... /&gt;. This applies to @work as well: &lt;div-ref work="w" ... /&gt; is equivalent to &lt;div-ref src="w1" ... /&gt;, &lt;div-ref src="w2" ... /&gt;, etc. </a:documentation>
      <a:documentation>After this distinction between sources is made, the entire set of &lt;div&gt;s pointed to will be treated as a group, and processed as a whole (see @distribute). </a:documentation>
      <a:documentation>&lt;div-ref&gt; is a grouping device, and is therefore unlike &lt;tok&gt;, which always refers to single items, never sets. As a result, the siblings &lt;div-ref src="X" ref="a"/&gt; and &lt;div-ref src="X" ref="b"/&gt; are NOT identical to &lt;div-ref src="X" ref="a, b"/&gt;   </a:documentation>
      <ref name="div-ref-attr-core"/>
      <optional>
        <ref name="strength-claim"/>
      </optional>
      <ref name="work-ref"/>
      <ref name="continuation"/>
    </element>
    <ref name="div-ref-group-continuation"/>
  </define>
  <define name="div-ref-item-for-source">
    <element name="div-ref">
      <ref name="div-ref-attr-core"/>
      <optional>
        <ref name="strength-claim"/>
      </optional>
      <ref name="source-refs"/>
    </element>
  </define>
  <define name="div-ref-group-for-source">
    <element name="div-ref">
      <ref name="div-ref-attr-core"/>
      <optional>
        <ref name="strength-claim"/>
      </optional>
      <ref name="source-refs"/>
      <ref name="continuation"/>
    </element>
    <ref name="div-ref-group-continuation"/>
  </define>
  <define name="div-ref-group-continuation">
    <zeroOrMore>
      <element name="div-ref">
        <ref name="div-ref-attr-core"/>
        <ref name="continuation"/>
      </element>
    </zeroOrMore>
    <element name="div-ref">
      <ref name="div-ref-attr-core"/>
    </element>
  </define>
  <define name="div-ref-attr-core">
    <optional>
      <ref name="ed-stamp"/>
    </optional>
    <ref name="pointer-to-div-range"/>
    <optional>
      <ref name="seg-ref"/>
    </optional>
  </define>
  <define name="seg-ref">
    <attribute name="seg">
      <a:documentation>picks specific segments in a leaf div. There must be an appropriate number of splits declared for those leaf divs in &lt;split-leaf-div-at&gt;.</a:documentation>
      <ref name="seq-picker"/>
    </attribute>
  </define>
  <define name="work-ref">
    <attribute name="work">
      <a:documentation>refers to a work by means of a source ID as a proxy. The attribute will be treated as indicating all sources that share the same work as the one mentioned.</a:documentation>
      <a:documentation>If you wish to avoid aligning with all other versions of a work, use @src instead.</a:documentation>
      <data type="string">
        <param name="pattern">\S+</param>
      </data>
    </attribute>
  </define>
  <define name="work-refs">
    <attribute name="work">
      <a:documentation>refers to works by means of source IDs as a proxy. </a:documentation>
    </attribute>
  </define>
</grammar>
