schemas/TAN-core.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Master TAN core schema, updated 2015-03-18 -->
<grammar ns="tag:textalign.net,2015:ns" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- PART ONE OF TWO: PATTERNS REPEATEDLY USED ACROSS DIFFERENT TAN FILES -->
  <!--   1A. ATOMIC PATTERNS (alphabetical) -->
  <!--    Reference to an agent, used generically (and not in edit stamps) -->
  <define name="agent-ref">
    <attribute name="who"/>
  </define>
  <!--    Expression of certainty an agent has in the data it governs. High = "is probably"; low = "is probably not"; all other values expressed as a real number from 0 (no certainty) to 1 (completely certainty). -->
  <define name="cert-claim">
    <attribute name="cert">
      <data type="string">
        <param name="pattern">(high)|(low)|(0\.\d+)</param>
      </data>
    </attribute>
  </define>
  <!--
       String that refers to a div either by using single nonword characters to join pairs of @type and optional @n values (themselves joined) 
       by a nonword character) or by using single nonword characters to join only @n values. The first pattern
       is \w+\W\w*(\W\w+\W\w*)* and the second is \w+(\W\w+)*
  -->
  <define name="div-ref">
    <a:documentation>Test double-hash rendered on two
lines</a:documentation>
    <data type="string">
      <param name="pattern">\w+\W\w*(\W\w+\W\w*)*|\w+(\W\w+)*</param>
    </data>
  </define>
  <!--    String that specifies a range of divs using the div-ref pattern joined by a hyphen or a comma -->
  <define name="div-range-ref">
    <data type="string">
      <param name="pattern">(\w+\W\w*(\W\w+\W\w*)*|\w+(\W\w+)*)((\s*,|\s+-)\s+(\w+\W\w*(\W\w+\W\w*)*|\w+(\W\w+)*))*</param>
    </data>
  </define>
  <!--    Space-delimited sequence of division type id references; value would be d:IDREFS except that these point to IDs in other files. -->
  <define name="div-type-ref">
    <attribute name="div-type-ref"/>
  </define>
  <!--     Reference to agent or agents who have edited (added or modified) an element or its content -->
  <define name="ed-agent">
    <attribute name="ed-who"/>
  </define>
  <!--     Reference to a date or time when an element or its content was edited (added or modified) -->
  <define name="ed-time">
    <attribute name="ed-when">
      <choice>
        <data type="dateTime"/>
        <data type="date"/>
      </choice>
    </attribute>
  </define>
  <!--     An inclusion is the only identifier that is allowed to take d:IDREF, since all others must have coinage in external files -->
  <define name="inclusion">
    <attribute name="include">
      <data type="IDREFS" datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0"/>
    </attribute>
  </define>
  <!--     Identifier of an entity described within an element. Must be unique within a given file. Must consist only of word characters. -->
  <define name="internal-id">
    <attribute name="xml:id">
      <data type="ID" datatypeLibrary="http://relaxng.org/ns/compatibility/datatypes/1.0">
        <param name="pattern">\w\S*</param>
      </data>
    </attribute>
  </define>
  <!--     Any generic IRI identifier. -->
  <define name="IRI-gen">
    <data type="anyURI">
      <param name="pattern">[a-zA-Z][\-.+a-zA-Z0-9]+:\S+</param>
    </data>
  </define>
  <!--     Acceptable values of @n, used by class 1 and class 2 files -->
  <define name="n-val">
    <data type="string">
      <param name="pattern">\w*</param>
    </data>
  </define>
  <!--     Version of TAN schemas used, here version 1/1 -->
  <define name="TAN-ver">
    <attribute name="TAN-version">
      <data type="string">
        <param name="pattern">1(\W+dev)?</param>
      </data>
    </attribute>
  </define>
  <!--    tokenization id reference; value would be d:IDREF except that this attribute points to IDs in other files. -->
  <define name="tokenization-ref">
    <attribute name="which">
      <ref name="tokenization-ref-text"/>
    </attribute>
  </define>
  <!--    tokenization id text; default (for Class 2 files) is text; narrowed by Class 1 files. -->
  <define name="tokenization-ref-text">
    <text/>
  </define>
  <!--     Attribute with ISO (BCP 47) language code intended to identify the language of the CDATA content (the text) -->
  <define name="lang-of-content">
    <attribute name="xml:lang">
      <data type="language"/>
    </attribute>
  </define>
  <!--     Element with ISO (BCP 47) language code. NOT to be used to identify the language of any CDATA content. Used primarily under declarations element, to name the languages to which an operation or declaration applies. -->
  <define name="lang-outside">
    <element name="for-lang">
      <data type="language"/>
    </element>
  </define>
  <!--    Indicates whether @n in a particular div-type is a numeral; default = true unless values fail to match standard patterns for numeral systems (Arabic, Roman, etc.) -->
  <define name="ns-are-numerals">
    <attribute name="ns-are-numerals">
      <data type="boolean"/>
    </attribute>
  </define>
  <!--    Is the creation and editing of the data still in progress? -->
  <define name="progress">
    <attribute name="in-progress">
      <data type="boolean"/>
    </attribute>
  </define>
  <!--    Agent who holds the rights over the data, absent sources -->
  <define name="rights-holder">
    <attribute name="rights-holder"/>
  </define>
  <!--     Reference to an xml:id that identifies a role (i.e., duty or responsibility) associated with the creation of editing of the data -->
  <define name="role-ref">
    <attribute name="roles"/>
  </define>
  <!--    Attribute containing an IDREF to the ID of the source for the given token. This is suppressed in TAN-LM files (which have only one source) and required in TAN-A files. -->
  <define name="source-ref">
    <attribute name="src"/>
  </define>
  <!--    String that specifies a range of tokens: digits or "last(-digit)?" joined by space-delimited hyphens or vertical lines (pipe character) -->
  <define name="seq-picker">
    <data type="string">
      <param name="pattern">((last)|(last-\d+)|(\d+))(\s+-\s+((last)|(last-\d+)|(\d+)))?(\s*,\s+((last)|(last-\d+)|(\d+))(\s+-\s+((last)|(last-\d+)|(\d+)))?)*</param>
    </data>
  </define>
  <!--    String reference to a particular word token within a sequence of word tokens -->
  <define name="token-value-ref">
    <attribute name="val">
      <data type="string">
        <param name="pattern">.+</param>
      </data>
    </attribute>
  </define>
  <!--     Unused pattern, restricted to URIs. Kept in case the regular expression is helpful in the future. -->
  <define name="URI-gen">
    <data type="anyURI">
      <param name="pattern">[a-zA-Z][\-.+a-zA-Z0-9]+:[\-._~+:/?#\[\]%@!$&amp;'\(\)*+,;=a-zA-Z0-9]+</param>
    </data>
  </define>
  <!--     Tag URN, mandatory pattern for the IRI name of every TAN file -->
  <define name="URI-tag">
    <data type="anyURI">
      <param name="pattern">tag:([\-a-zA-Z0-9._%+]+@)?[\-a-zA-Z0-9.]+\.[A-Za-z]{2,4},\d{4}(-(0\d|1[0-2]))?(-([0-2]\d|3[01]))?:\S+</param>
    </data>
  </define>
  <!--    Date or date + time, used generically and not for edit stamps -->
  <define name="when-claim">
    <attribute name="when">
      <choice>
        <data type="dateTime"/>
        <data type="date"/>
      </choice>
    </attribute>
  </define>
  <!--
    
      1B. NON-ATOMIC PATTERNS (alphabetical)
  -->
  <!--          Element to declare the checksum of an electronic source/auxiliary. Metadata core is required to identify the type of checksum being used (e.g., SHA-1). -->
  <define name="checksum">
    <element name="checksum">
      <ref name="entity-nondigital-ref"/>
      <element name="value">
        <data type="string" datatypeLibrary=""/>
      </element>
    </element>
  </define>
  <!--    Comments, which are required to have @who and @when values indicating who made the comment when. -->
  <define name="comment">
    <element name="comment">
      <ref name="when-claim"/>
      <ref name="agent-ref"/>
      <text/>
    </element>
  </define>
  <!--    Editorial stamp: who created or edited the enclosed data and when. -->
  <define name="ed-stamp">
    <ref name="ed-agent"/>
    <ref name="ed-time"/>
  </define>
  <!--
    
       FOUR TYPES OF ENTITIES THAT CAN BE REFERENCED USING THE IRI+NAME PATTERN
       Reference to an external digital entity that is a TAN file
  -->
  <define name="entity-digital-tan-other-ref">
    <ref name="URI-tag-ref"/>
    <ref name="metadata-human"/>
    <zeroOrMore>
      <ref name="checksum"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="loc-src"/>
    </oneOrMore>
  </define>
  <!--    Reference to an external digital entity that is not a TAN file -->
  <define name="entity-digital-generic-ref">
    <oneOrMore>
      <ref name="IRI-gen-ref"/>
    </oneOrMore>
    <ref name="metadata-human"/>
    <zeroOrMore>
      <ref name="checksum"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="loc-src"/>
    </oneOrMore>
  </define>
  <!--    Reference to self as digital entity (i.e., TAN file) -->
  <define name="entity-digital-tan-self-ref">
    <ref name="metadata-human"/>
    <zeroOrMore>
      <ref name="loc-self"/>
    </zeroOrMore>
  </define>
  <!--    Reference to an external non-digital entity (e.g., agents, roles, concepts) -->
  <define name="entity-nondigital-ref">
    <oneOrMore>
      <ref name="IRI-gen-ref"/>
    </oneOrMore>
    <ref name="metadata-human"/>
  </define>
  <!---->
  <define name="func-param-pattern">
    <element name="pattern">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <text/>
    </element>
  </define>
  <!---->
  <define name="func-param-flags">
    <element name="flags">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <data type="string">
        <param name="pattern">[smixq]+</param>
      </data>
    </element>
  </define>
  <!--
       NB, @xpath may be untenable, and is slated for deletion from ver 1, if it cannot be applied 
       consistently or reliably.
       The fn:replace function plus parameters. Used in class 1 and class 3 (TAN-R-tok) files.
  -->
  <define name="func-replace">
    <element name="replace">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <optional>
            <attribute name="xpath"/>
          </optional>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <group>
              <ref name="func-param-pattern"/>
              <element name="replacement">
                <optional>
                  <ref name="ed-stamp"/>
                </optional>
                <text/>
              </element>
              <optional>
                <ref name="func-param-flags"/>
              </optional>
            </group>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <!--    The fn:tokenize function plus parameters. Used in class 1 and class 3 (TAN-R-tok) files. -->
  <define name="func-tokenize">
    <element name="tokenize">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <interleave>
          <zeroOrMore>
            <ref name="comment"/>
          </zeroOrMore>
          <group>
            <ref name="func-param-pattern"/>
            <optional>
              <ref name="func-param-flags"/>
            </optional>
          </group>
        </interleave>
      </choice>
    </element>
  </define>
  <!--    Element that takes a general URI -->
  <define name="IRI-gen-ref">
    <element name="IRI">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <ref name="IRI-gen"/>
    </element>
  </define>
  <!--          Element to declare where a master copy of the file itself is to be found. -->
  <define name="loc-self">
    <element name="master-location">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <data type="anyURI"/>
    </element>
  </define>
  <!--          Element to declare where an electronic source/auxiliary was found, when. -->
  <define name="loc-src">
    <element name="location">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <attribute name="when-accessed">
        <data type="date"/>
      </attribute>
      <data type="anyURI"/>
    </element>
  </define>
  <define name="metadata-desc">
    <optional>
      <ref name="ed-stamp"/>
    </optional>
    <optional>
      <ref name="lang-of-content"/>
    </optional>
    <data type="string">
      <param name="pattern">(.|\n)+</param>
    </data>
  </define>
  <define name="metadata-human">
    <oneOrMore>
      <element name="name">
        <ref name="metadata-desc"/>
      </element>
    </oneOrMore>
    <zeroOrMore>
      <element name="desc">
        <ref name="metadata-desc"/>
      </element>
    </zeroOrMore>
  </define>
  <!--    Pointer (link) to a div in a TAP-T(EI) file -->
  <define name="pointer-to-div">
    <attribute name="ref">
      <ref name="div-ref"/>
    </attribute>
  </define>
  <!--    Pointer (link) to a range of divs in a TAP-T(EI) file -->
  <define name="pointer-to-div-range">
    <attribute name="ref">
      <ref name="div-range-ref"/>
    </attribute>
  </define>
  <!--    Numerical reference to a particular word token or a range of them within a sequence of word tokens -->
  <define name="token-value-order-ref">
    <attribute name="ord">
      <ref name="seq-picker"/>
    </attribute>
  </define>
  <!--    Element that takes a general URI -->
  <define name="URI-gen-ref">
    <element name="IRI">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <ref name="URI-gen"/>
    </element>
  </define>
  <!--    Element that takes a tag URN -->
  <define name="URI-tag-ref">
    <element name="IRI">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <ref name="URI-tag"/>
    </element>
  </define>
  <!--
    
    PART TWO OF TWO: COMMON TAN STRUCTURE OF ALL TAN FILES (rootmost nodes first)
  -->
  <!-- 1st level of any TAN file. -->
  <define name="TAN-root">
    <attribute name="id">
      <ref name="URI-tag"/>
    </attribute>
    <ref name="TAN-ver"/>
    <optional>
      <ref name="ed-stamp"/>
    </optional>
    <ref name="TAN-head"/>
    <ref name="TAN-body"/>
  </define>
  <!--
    
    2nd level of any TAN file.
  -->
  <!--    Common metadata header -->
  <define name="TAN-head">
    <element name="head">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <group>
          <ref name="entity-digital-tan-self-ref"/>
          <ref name="nonsource-rights"/>
          <ref name="inclusion-list"/>
          <ref name="source-list"/>
          <ref name="see-also-list"/>
          <ref name="decl-opt"/>
          <oneOrMore>
            <ref name="agent-list"/>
          </oneOrMore>
          <oneOrMore>
            <ref name="role-list"/>
          </oneOrMore>
          <zeroOrMore>
            <ref name="agent-role-list"/>
          </zeroOrMore>
          <oneOrMore>
            <!-- Changes, which must indicate through @who and @when who made the change, when  -->
            <ref name="change-list"/>
          </oneOrMore>
        </group>
      </interleave>
    </element>
  </define>
  <!--     Common data container -->
  <define name="TAN-body">
    <element name="body">
      <optional>
        <ref name="progress"/>
      </optional>
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="TAN-body-core"/>
      </interleave>
    </element>
  </define>
  <define name="TAN-body-core">
    <empty/>
  </define>
  <!--
    
    3rd level of any TAN file, head metadata only (the body, which differs widely across TAN file types, are defined in other schema files)
  -->
  <!--    Element stating the rights under which the data is distributed -->
  <define name="nonsource-rights">
    <element name="rights-excluding-sources">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <ref name="rights-holder"/>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <ref name="entity-nondigital-ref"/>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <!--    Lists of TAN files that can be called upon for inclusion. -->
  <define name="inclusion-list">
    <zeroOrMore>
      <ref name="inclusion-item"/>
    </zeroOrMore>
  </define>
  <define name="inclusion-item">
    <element name="inclusion">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <ref name="internal-id"/>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="entity-digital-tan-other-ref"/>
      </interleave>
    </element>
  </define>
  <!--    The name of the source upon which the TAN file rests. TAN-T and TAN-LM allow only one. TAN-A-tok allows exactly two. All other TAN formats require one or more. -->
  <define name="source-list">
    <ref name="source-item"/>
  </define>
  <define name="source-item">
    <element name="source">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <optional>
        <attribute name="test">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <ref name="source-id-opt"/>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <group>
              <choice>
                <ref name="entity-nondigital-ref"/>
                <ref name="entity-digital-generic-ref"/>
                <ref name="entity-digital-tan-other-ref"/>
              </choice>
              <optional>
                <ref name="source-rights"/>
              </optional>
            </group>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <!--    Element stating the rights attached to the source of data -->
  <define name="source-rights">
    <element name="rights-source-only">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <interleave>
          <zeroOrMore>
            <ref name="comment"/>
          </zeroOrMore>
          <group>
            <zeroOrMore>
              <ref name="rights-holder"/>
            </zeroOrMore>
            <ref name="entity-nondigital-ref"/>
          </group>
        </interleave>
      </choice>
    </element>
  </define>
  <!--     Parameter to indicate whether <source> should be allowed to take xml:id (forbidden for TAN files with only one source; mandated otherwise) -->
  <define name="source-id-opt">
    <empty/>
  </define>
  <!--    Auxiliary entities (usually derivative versions of sources) that were materially helpful in creating or editing the data -->
  <define name="see-also-list">
    <zeroOrMore>
      <ref name="see-also-item"/>
    </zeroOrMore>
  </define>
  <define name="see-also-item">
    <element name="see-also">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <interleave>
          <zeroOrMore>
            <ref name="comment"/>
          </zeroOrMore>
          <group>
            <ref name="relationship"/>
            <choice>
              <ref name="entity-nondigital-ref"/>
              <ref name="entity-digital-generic-ref"/>
              <ref name="entity-digital-tan-other-ref"/>
            </choice>
          </group>
        </interleave>
      </choice>
    </element>
  </define>
  <!--        The role that the see-also played, either a reserved keyword or a customized name (e.g., uncorrected transcription) defined by an IRI + name pattern   -->
  <define name="relationship">
    <element name="relationship">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <choice>
          <ref name="entity-nondigital-ref"/>
          <data type="string">
            <param name="pattern">(new|old) version|(parent|child|ancestor|descendant|cousin) edition|alternatively (divided|normalized) edition|dependent|auxiliary</param>
          </data>
        </choice>
      </choice>
    </element>
  </define>
  <!--    Declarations option; in some TAN files, this is changed to modify how inclusions are handled. -->
  <define name="decl-opt">
    <element name="declarations">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="decl-list"/>
      </interleave>
    </element>
  </define>
  <!--        The agents (persons, organizations) that played a role in creating or editing the data   -->
  <define name="agent-list">
    <element name="agent">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <optional>
            <ref name="role-ref"/>
          </optional>
          <ref name="internal-id"/>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <ref name="entity-nondigital-ref"/>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <!--        The roles (responsibilities, tasks) that agents did in creating or editing the data   -->
  <define name="role-list">
    <element name="role">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <choice>
        <ref name="inclusion"/>
        <group>
          <ref name="internal-id"/>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <ref name="entity-nondigital-ref"/>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <!--        Specific roles performed by specific agents in creating or editing the data -->
  <define name="agent-role-list">
    <element name="agentrole">
      <choice>
        <ref name="inclusion"/>
        <group>
          <attribute name="when-from">
            <choice>
              <data type="dateTime"/>
              <data type="date"/>
            </choice>
          </attribute>
          <attribute name="when-to">
            <choice>
              <data type="dateTime"/>
              <data type="date"/>
            </choice>
          </attribute>
          <optional>
            <ref name="ed-stamp"/>
          </optional>
          <ref name="agent-ref"/>
          <ref name="role-ref"/>
        </group>
      </choice>
    </element>
  </define>
  <!--        Changes made to the file. -->
  <define name="change-list">
    <element name="change">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <ref name="when-claim"/>
      <ref name="agent-ref"/>
      <text/>
    </element>
  </define>
  <!-- 4th level of any TAN file, specifically the /*/head/declarations element -->
  <!--    Empty declaration element. See other TAN schemas for redefinitions appropriate to a particular type of TAN file. -->
  <define name="decl-list">
    <interleave>
      <ref name="decl-core"/>
      <ref name="decl-non-core"/>
    </interleave>
  </define>
  <!--    Reserved for any declarations that are shared across classes -->
  <define name="decl-core">
    <empty/>
  </define>
  <!--    decl-non-core to be filled out by each TAN-class-X.rnc file -->
  <define name="decl-non-core">
    <empty/>
  </define>
</grammar>
