schemas/TAN-T.rnc

default namespace = "tag:textalign.net,2015:ns"
namespace local = "tag:textalign.net,2015:ns"

datatypes d = "http://relaxng.org/ns/compatibility/datatypes/1.0"

start = element TAN-T { TAN-root }
include "TAN-class-1.rnc" {
    TAN-body-core = lang-of-content, text-div+
}
text-div =
    element div {
        ed-stamp?,
        attribute type { d:IDREF },
        attribute n { n-val },
        lang-of-content?,
        (text-div+ | text )
    }
