schemas/TAN-class-1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="tag:textalign.net,2015:ns" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="TAN-core.rng">
    <define name="decl-non-core">
      <interleave>
        <ref name="decl-class-1"/>
        <ref name="decl-non-class-1"/>
      </interleave>
    </define>
    <!-- No class 1 file may use @src, because there is only one source allowed -->
    <define name="source-ref">
      <empty/>
    </define>
    <!-- Any class 1 file that declares a core TAN tokenization pattern, must use one of the following options -->
    <define name="tokenization-ref-text">
      <data type="string">
        <param name="pattern">(precise|general(-words-only)?)-\d+</param>
      </data>
    </define>
  </include>
  <!--
    Class 1 files must declare a single work, perhaps one version, one or more divisions, one or more
    recommended tokenizations, and perhaps one filter
  -->
  <define name="decl-class-1">
    <interleave>
      <ref name="decl-work"/>
      <optional>
        <ref name="decl-vers"/>
      </optional>
      <oneOrMore>
        <ref name="decl-div"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="decl-tok-rec"/>
      </oneOrMore>
      <optional>
        <ref name="decl-filt"/>
      </optional>
    </interleave>
  </define>
  <!-- Reserved for declarations specific to individual types of class 1 files -->
  <define name="decl-non-class-1">
    <empty/>
  </define>
  <!-- Types of textual divisions into which a transcription has been segmented (e.g., title, paragraph, stanza) -->
  <define name="decl-div">
    <element name="div-type">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <optional>
        <ref name="ns-are-numerals"/>
      </optional>
      <ref name="internal-id"/>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="entity-nondigital-ref"/>
      </interleave>
    </element>
  </define>
  <!-- Recommended pattern to be used to segment a text into word tokens. -->
  <define name="decl-tok-rec">
    <element name="recommended-tokenization">
      <choice>
        <empty/>
        <ref name="tokenization-ref"/>
        <group>
          <ref name="internal-id"/>
          <optional>
            <ref name="ed-stamp"/>
          </optional>
          <interleave>
            <zeroOrMore>
              <ref name="comment"/>
            </zeroOrMore>
            <ref name="entity-digital-tan-other-ref"/>
          </interleave>
        </group>
      </choice>
    </element>
  </define>
  <!-- Version of the work has been transcribed (for text-bearing objects that have multiple versions of the work) -->
  <define name="decl-vers">
    <element name="version">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="entity-nondigital-ref"/>
      </interleave>
    </element>
  </define>
  <!-- The work that has been transcribed -->
  <define name="decl-work">
    <element name="work">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="entity-nondigital-ref"/>
      </interleave>
    </element>
  </define>
  <!--
    
    Filter declaring alterations that have been made or should be made to the source(s).
  -->
  <define name="decl-filt">
    <element name="filter">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <ref name="decl-filter-content"/>
      </interleave>
    </element>
  </define>
  <define name="decl-filter-content">
    <interleave>
      <zeroOrMore>
        <ref name="decl-filt-norm"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="decl-filt-repl"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="decl-filt-tlit"/>
      </zeroOrMore>
    </interleave>
  </define>
  <!-- Normalizations made to a source file. Typically applies to tacit corrections made in the transcription or interpetation of a source (e.g., suppression of discretionary hyphenation). -->
  <define name="decl-filt-norm">
    <element name="normalization">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <group>
          <zeroOrMore>
            <ref name="lang-outside"/>
          </zeroOrMore>
          <ref name="entity-nondigital-ref"/>
        </group>
      </interleave>
    </element>
  </define>
  <!-- Replacements that have be made to an XML source file. -->
  <define name="decl-filt-repl">
    <ref name="func-replace"/>
  </define>
  <!-- Transliteration scheme applied to a source. -->
  <define name="decl-filt-tlit">
    <element name="transliteration">
      <optional>
        <ref name="ed-stamp"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="comment"/>
        </zeroOrMore>
        <group>
          <zeroOrMore>
            <ref name="lang-outside"/>
          </zeroOrMore>
          <ref name="entity-nondigital-ref"/>
        </group>
      </interleave>
    </element>
  </define>
</grammar>
