schemas/TAN-class-1.rnc

default namespace local = "tag:textalign.net,2015:ns"

include "TAN-core.rnc" {
    decl-non-core = decl-class-1 & decl-non-class-1
    # No class 1 file may use @src, because there is only one source allowed
    source-ref = empty
    # Any class 1 file that declares a core TAN tokenization pattern, must use one of the following options
    tokenization-ref-text = xsd:string { pattern = "(precise|general(-words-only)?)-\d+" }
}
# Class 1 files must declare a single work, perhaps one version, one or more divisions, one or more
# recommended tokenizations, perhaps one filter, and perhaps one 
decl-class-1 = decl-work & decl-vers? & decl-div+ & decl-tok-rec+ & decl-ref-rec? & decl-filt?
# Reserved for declarations specific to individual types of class 1 files
decl-non-class-1 = empty
# Types of textual divisions into which a transcription has been segmented (e.g., title, paragraph, stanza)
decl-div =
    element div-type {
        ed-stamp?, ns-are-numerals?, internal-id, (comment* & entity-nondigital-ref)
    }
# Recommended pattern to be used to segment a text into word tokens.
decl-tok-rec =
    element recommended-tokenization {
        empty
        | tokenization-ref
        | (internal-id, ed-stamp?, (comment* & entity-digital-tan-other-ref))
    }
# Recommendation on whether references to the transcription should make div types explicit or implicit.
decl-ref-rec = element recommended-div-type-refs { xsd:string { pattern = "implicit|explicit" } }
# Version of the work has been transcribed (for text-bearing objects that have multiple versions of the work)
decl-vers = element version { ed-stamp?, (comment* & entity-nondigital-ref) }
# The work that has been transcribed
decl-work = element work { ed-stamp?, (comment* & entity-nondigital-ref) }
# 
# Filter declaring alterations that have been made or should be made to the source(s).
decl-filt = element filter { ed-stamp?, (comment* & decl-filter-content) }
decl-filter-content = decl-filt-norm* & decl-filt-repl* & decl-filt-tlit*
# Normalizations made to a source file. Typically applies to tacit corrections made in the transcription or interpetation of a source (e.g., suppression of discretionary hyphenation). 
decl-filt-norm =
    element normalization {
        ed-stamp?,
        (comment* & (lang-outside*, entity-nondigital-ref))
    }
# Replacements that have be made to an XML source file. 
decl-filt-repl = func-replace
# Transliteration scheme applied to a source.
decl-filt-tlit =
    element transliteration {
        ed-stamp?,
        (comment* & (lang-outside*, entity-nondigital-ref))
    }
